<nz-layout >
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li><a routerLink="" class="nav-home">LOGO</a></li>
      <li><a routerLink="/" class="nav-login" *ngIf="isLoggedIn$ | async" (click)="onLogout()">Đăng xuất</a></li>
      <!-- <li><a routerLink="login" class="nav-login" *ngIf="isLoggedIn$ | async">Đăng nhập</a></li> -->
      <li><a routerLink="common" class="nav-login" *ngIf="isLoggedIn$ | async">Thể loại phim</a></li>
      <li><a routerLink="timkiem" class="nav-login">Tìm kiếm</a></li>
      <!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="Login" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <app-login></app-login>
      </nz-modal> -->
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet='outlet'></router-outlet>
    </div>
  </nz-content>
  <!-- <div class="test-animation1">
    <h3>Toggle show/hide</h3>
    <button class="btn btn-danger" (click)="toggle()">Toggle State</button>
    <div [@popOverState]="stateName" class="image-state">
      <img  src="https://ia.media-imdb.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg">
      <p>Hello! This is pop-over</p>
    </div>
  </div>
  <br>
  <div class="test-animation2">
    <h3>Change positon image</h3>
    <img src="https://ia.media-imdb.com/images/M/MV5BNjgwNzAzNjk1Nl5BMl5BanBnXkFtZTgwMzQ2NjI1OTE@._V1_SX500.jpg"
    [@photoState]="position"
    >
    <div class="adjust">
    <button class="btn btn-info" (click)="changePosition('move')">Move</button>
    <button class="btn btn-info" (click)="changePosition('spin')">Spin</button>
    <button class="btn btn-info" (click)="changePosition('scale')">Scale</button>
    <button class="btn btn-info" (click)="changePosition('reset')">Reset</button>
  </div>
  </div> -->

</nz-layout>
