<div class="add-movie">
  <button nz-button nzType="primary" (click)="openModal(formAddMovie)">
    <span>Add other movie</span>
  </button>
  <ng-template #formAddMovie>
    <div>
      <a type='button' class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" style='font-size: 2.5rem; margin-right: 16px;'>&times;</span>
      </a>
    </div>
    <div class="modal-body">
      <app-add-movie (outputForm)="getValue($event)" (close)="modalRef.hide()"></app-add-movie>
    </div>
  </ng-template>
</div>
<nz-table #listMovie [nzData]="movies$">
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Released Date</th>
      <th>IDMB</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listMovie.data, let i = index">
      <td>{{ i + 1}}</td>
      <td>{{ data.title }}</td>
      <td>{{ data.genre }}</td>
      <td>{{ data.year }}</td>
      <td>{{ data?.released | date }}</td>
      <td>{{ data?.imdbRating }}</td>
      <td>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="deleteMovie(data)">
          <span>Delete</span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
