.search-layout{
  width: 500px;
  margin: 0 auto;
}
nz-list{
  background-color: #fff;
  width: auto;
  margin: 0 auto;
}
.result{
  max-height: 300px;
  display: none;
  overflow: scroll;
  z-index: 1;
}

